.login-form {
    display: flex;
    & input {
        border: 1px solid #dddfe2;
        color: #1d2129;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        height: 22px;
        line-height: 16px;
        padding: 0 8px;
        vertical-align: middle;
        border-radius: 6px;
        -webkit-appearance: none;
        margin: 0px 5px;
        &:focus {
            outline: none;
        }
    }
    & button {
        border: none;
        border-radius: 6px;
        background-color: #f4511e;
        border: none;
        color: white;
        text-align: center;
        opacity: 0.8;
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}
